.idea
.DS_Store
db/
node_modules/
repository/
mockRepository*
server.log
ui/node_modules/
ui/dist/
ui/.cache/
source-verify.dab
nginx.conf
dist/
**/.env
**/.env-backup
**/*.key
stats**
tmp
metacoin-source-verify/
**/synced
**/sort.log
**/.env.secrets
logs
**/too_big.txt