.idea
.DS_Store
db/
node_modules/
mockRepository*
server.log
ui/node_modules/
ui/dist/
ui/.cache/
source-verify.dab
dist/
**/.env
**/.env-backup
**/*.key
stats**
tmp
metacoin-source-verify/
**/synced
**/sort.log
**/.env.secrets
logs
**/too_big.txt
chain-tests-report/
coverage
workspace/
.nx/workspace-data
.nx/cache
.nx/installation