version: 2.1

orbs:
  node: circleci/node@1.1.6

jobs:
  unit-test:
    executor:
      name: node/default
      tag: '10.4'
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
      - run: npm test

workflows:
  version: 2
  build:
    jobs:
      - unit-test
