# Config that filters the build jobs: only run new builds for the paths that are changed.
# Runs the continue_config.yml subsequently.
version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# Pipeline parameters for nightly and regular test chain triggers.
parameters:
  run-nightly:
    type: boolean
    default: false
  run-test-chains-regularly:
    type: boolean
    default: false

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset see https://circleci.com/docs/2.0/using-dynamic-configuration/
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

# Can add multiple workflows in setup since only one of these will run. Otherwise it's not possible: https://support.circleci.com/hc/en-us/articles/360060934851--Max-number-of-workflows-exceeded-error
workflows:
  always-run:
    # Don't run on scheduled pipelines and only on master or staging.
    when:
      and:
        - not: << pipeline.parameters.run-nightly >>
        - not: << pipeline.parameters.run-test-chains-regularly >>
        - or: 
          - equal: [ master, << pipeline.git.branch >> ]
          - equal: [ staging, << pipeline.git.branch >> ]
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      - path-filtering/filter:
          name: check-updated-modules
          # h5ai-nginx without /.* part since it's a submodule. git diff outputs the folder name only, not files under it
          mapping: |
            services/monitor/.* run-build-monitor true
            services/server/.* run-build-server true
            h5ai-nginx run-build-repository true 
            packages/.* run-build-packages true
            ui/.* run-build-ui true
          # Compare against the last build of the branch not the default "main" branch
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue_config.yml
  tagged_build_and_publish: # Triggered by a tag push
    jobs:
      - npm-publish:
          filters:
            tags:
              only: /.*/ # Must always run as required by the build-push-* jobs
            branches:
              ignore: /.*/
      - build-push-monitor:
          filters:
            tags:
              only: /sourcify-monitor.*/ # docker image tag format
            branches:
              ignore: /.*/
          requires:
            - npm-publish
      - build-push-repository:
          filters:
            tags:
              only: /^sourcify-repository.*/
            branches:
              ignore: /.*/
          requires:
            - npm-publish
      - build-push-server:
          filters:
            tags:
              only: /^sourcify-server.*/
            branches:
              ignore: /.*/
          requires:
            - npm-publish
      - build-push-ui:
          filters:
            tags:
              only: /^sourcify-ui.*/
            branches:
              ignore: /.*/
          requires:
            - npm-publish
  new-branch:
    when:
      and:
          - not: << pipeline.parameters.run-nightly >>
          - not: << pipeline.parameters.run-test-chains-regularly >>
          - not:
              equal: [ master, << pipeline.git.branch >> ]
          - not:
              equal: [ staging, << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          name: continue-new-branch
          configuration_path: .circleci/new_branch.yml

  nightly:
    when: << pipeline.parameters.run-nightly >>
    jobs:
      - continuation/continue:
          name: continue-nightly
          configuration_path: .circleci/nightly.yml

  test-chains-regularly:
    when: << pipeline.parameters.run-test-chains-regularly >>
    jobs: 
      - continuation/continue:
          name: continue-test-chains-regularly
          configuration_path: .circleci/test-chains-regularly.yml


################
### ALIASES ####
################
aliases:
  - &build-base
    docker:
      - image: cimg/base:2023.09
    parameters:
      run-build:
        type: boolean
        default: false
      run-build-2:
        type: boolean
        default: false
    steps:
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - setup_remote_docker:
          version: 20.10.23
      - run:
          name: Build and push docker images
          command: |
            ./.circleci/scripts/build_and_publish_docker_images.sh 
      - persist_to_workspace:
          root: workspace
          paths:
            - ./*
      # If no build is needed, echo 0 to run as success 
      - run: echo 0

jobs:
  build-push-monitor:
    <<: *build-base
    environment:
      SERVICE: "monitor"
      DOCKER_BUILD_CONTEXT: "."
      DOCKERFILE: "services/monitor/Dockerfile"
  build-push-repository:
    <<: *build-base
    environment:
      SERVICE: "repository"
      DOCKER_BUILD_CONTEXT: "./h5ai-nginx"
      DOCKERFILE: "./h5ai-nginx/Dockerfile"
  build-push-server:
    <<: *build-base
    environment:
      SERVICE: "server"
      DOCKER_BUILD_CONTEXT: "."
      DOCKERFILE: "services/server/Dockerfile"
  build-push-ui:
    <<: *build-base
    environment:
      SERVICE: "ui"
      DOCKER_BUILD_CONTEXT: "./ui"
      DOCKERFILE: "./ui/Dockerfile"
  npm-publish:
    working_directory: ~/sourcify
    docker:
      - image: cimg/node:16.15
    steps:
      - checkout
      - run:
          name: install dependencies
          command: npm install
      - run:
          name: build everything
          command: npx lerna run build
      - run:
          name: Publish npm package
          command: ./.circleci/scripts/publish_to_npm.sh
