# Main config for workflows that will be conditionally run according to the parameters set at the initial config.yml. Only runs builds for paths that are changed.
# Also contains workflows that will be run on all branches such as node tests
version: 2.1

orbs:
  codecov: codecov/codecov@4.1.0

# Pipeline parameters to run module builds if related files have been changed
parameters:
  run-build-repository:
    type: boolean
    default: false
  run-build-ui:
    type: boolean
    default: false
  run-build-server:
    type: boolean
    default: false
  run-build-monitor:
    type: boolean
    default: false
  run-build-packages:
    type: boolean
    default: false

################
### ALIASES ####
################
aliases:
  - &build-base
    docker:
      - image: cimg/base:2024.07
    resource_class: large
    parameters:
      run-build:
        type: boolean
        default: false
      run-build-2:
        type: boolean
        default: false
    steps:
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - setup_remote_docker:
          version: default
          docker_layer_caching: true
      - run:
          name: Build and push docker images
          command: |
            ./.circleci/scripts/build_and_publish_docker_images.sh
      - persist_to_workspace:
          root: workspace
          paths:
            - ./*
      # If no build is needed, echo 0 to run as success
      - run: echo 0
  - &build-base-arm64
    <<: *build-base
    resource_class: arm.large # override resource class
  - &monitor-e2e-base
    steps:
      - run:
          name: Avoid hosts unknown for github
          command: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run:
          name: checkout metacoin-source-verify
          command: cd ~/project && git clone git@github.com:sourcifyeth/metacoin-source-verify.git
      - run:
          name: install
          command: cd ~/project/metacoin-source-verify && npm ci
      - run:
          name: monitor test
          command: cd ~/project/metacoin-source-verify && ./scripts/monitor_e2e.sh
          no_output_timeout: 30m
    docker:
      - image: cimg/node:22.3.0
    resource_class: small
  - &verification-e2e-base
    steps:
      - run:
          name: Avoid hosts unknown for github
          command: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run:
          name: checkout metacoin-source-verify
          command: cd ~/project && git clone git@github.com:sourcifyeth/metacoin-source-verify.git
      - run:
          name: install
          command: cd ~/project/metacoin-source-verify && npm ci
      - run:
          name: verification test
          command: cd ~/project/metacoin-source-verify && ./scripts/verification_e2e.sh
    docker:
      - image: cimg/node:22.3.0
    resource_class: small
####################
#### WORKFLOWS #####
####################
workflows:
  build_publish_deploy_docker:
    # Run build_publish_deploy when on staging or master AND when a module is changed and something needs to be built and deployed.
    when:
      # and:
      or:
        - equal: [master, << pipeline.git.branch >>]
        - equal: [staging, << pipeline.git.branch >>]
        # - or:
        #     [
        #       << pipeline.parameters.run-build-repository >>,
        #       << pipeline.parameters.run-build-server >>,
        #       << pipeline.parameters.run-build-monitor >>,
        #       << pipeline.parameters.run-build-packages >>,
        #       << pipeline.parameters.run-build-ui >>,
        #     ]
    jobs:
      - tests-node-v22
      - build-push-monitor-amd64:
          run-build: << pipeline.parameters.run-build-monitor >>
          run-build-2: << pipeline.parameters.run-build-packages >> # monitor depends on packages
      - build-push-repository-amd64:
          run-build: << pipeline.parameters.run-build-repository >>
      - build-push-server-amd64:
          run-build: << pipeline.parameters.run-build-server >>
          run-build-2: << pipeline.parameters.run-build-packages >> # server depends on packages
      - build-push-ui-amd64:
          run-build: << pipeline.parameters.run-build-ui >>
      - build-push-monitor-arm64:
          run-build: << pipeline.parameters.run-build-monitor >>
          run-build-2: << pipeline.parameters.run-build-packages >> # monitor depends on packages
      - build-push-repository-arm64:
          run-build: << pipeline.parameters.run-build-repository >>
      - build-push-server-arm64:
          run-build: << pipeline.parameters.run-build-server >>
          run-build-2: << pipeline.parameters.run-build-packages >> # server depends on packages
      - build-push-ui-arm64:
          run-build: << pipeline.parameters.run-build-ui >>
      - publish-multiarch-images:
          requires:
            - build-push-monitor-amd64
            - build-push-repository-amd64
            - build-push-server-amd64
            - build-push-ui-amd64
            - build-push-monitor-arm64
            - build-push-repository-arm64
            - build-push-server-arm64
            - build-push-ui-arm64
      - deploy:
          requires:
            - publish-multiarch-images
      - monitor-e2e-sepolia:
          requires:
            - deploy
      - monitor-e2e-holesky:
          requires:
            - deploy
      - verification-e2e-sepolia:
          requires:
            - deploy
      - verification-e2e-holesky:
          requires:
            - deploy # Tests workflow for not staging or master
  tests:
    when:
      and:
        - not:
            equal: [master, << pipeline.git.branch >>]
        - not:
            equal: [staging, << pipeline.git.branch >>]
    jobs:
      - tests-node-v22

#######################
### JOB DEFINITIONS ###
#######################
jobs:
  build-push-monitor-amd64:
    <<: *build-base
    environment:
      SERVICE: "monitor"
      DOCKER_BUILD_CONTEXT: "."
      DOCKERFILE: "services/monitor/Dockerfile"
  build-push-repository-amd64:
    <<: *build-base
    environment:
      SERVICE: "repository"
      DOCKER_BUILD_CONTEXT: "./h5ai-nginx"
      DOCKERFILE: "./h5ai-nginx/Dockerfile"
  build-push-server-amd64:
    <<: *build-base
    environment:
      SERVICE: "server"
      DOCKER_BUILD_CONTEXT: "."
      DOCKERFILE: "services/server/Dockerfile"
  build-push-ui-amd64:
    <<: *build-base
    environment:
      SERVICE: "ui"
      DOCKER_BUILD_CONTEXT: "./ui"
      DOCKERFILE: "./ui/Dockerfile"
  # ARM64 builds
  build-push-monitor-arm64:
    <<: *build-base-arm64
    environment:
      SERVICE: "monitor"
      DOCKER_BUILD_CONTEXT: "."
      DOCKERFILE: "services/monitor/Dockerfile"
  build-push-repository-arm64:
    <<: *build-base-arm64
    environment:
      SERVICE: "repository"
      DOCKER_BUILD_CONTEXT: "./h5ai-nginx"
      DOCKERFILE: "./h5ai-nginx/Dockerfile"
  build-push-server-arm64:
    <<: *build-base-arm64
    environment:
      SERVICE: "server"
      DOCKER_BUILD_CONTEXT: "."
      DOCKERFILE: "services/server/Dockerfile"
  build-push-ui-arm64:
    <<: *build-base-arm64
    environment:
      SERVICE: "ui"
      DOCKER_BUILD_CONTEXT: "./ui"
      DOCKERFILE: "./ui/Dockerfile"
  publish-multiarch-images:
    docker:
      - image: cimg/base:2024.07
    resource_class: small
    steps:
      - checkout
      - setup_remote_docker:
          version: docker23
      - run:
          name: Publish multiarch images
          no_output_timeout: 5m
          command: |
            ./.circleci/scripts/publish_multiarch_images.sh
  deploy:
    docker:
      - image: cimg/base:2024.07
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: workspace
      - run:
          name: Trigger Deploy Events
          no_output_timeout: 5m
          command: |
            ./.circleci/scripts/trigger_deploy.sh
  tests-node-v22:
    docker:
      - image: cimg/node:22.3.0
      - image: postgres:16-alpine
        environment:
          POSTGRES_DB: sourcify
          POSTGRES_USER: sourcify
          POSTGRES_PASSWORD: sourcify
    resource_class: large
    working_directory: ~/sourcify
    parameters:
      run_coveralls:
        type: boolean
        default: false
    steps:
      - run:
          name: Versions
          command: npm version
      - checkout
      - run:
          name: install dependencies
          command: npm install
      - run:
          name: lint
          command: npm run lerna-lint
      - run:
          name: tsc and test
          command: npx lerna run build && npx lerna run lerna-test
          environment:
            DOCKER_HOST_POSTGRES_TEST_PORT: 5432
            SOURCIFY_POSTGRES_HOST: "localhost"
            SOURCIFY_POSTGRES_DB: "sourcify"
            SOURCIFY_POSTGRES_USER: "sourcify"
            SOURCIFY_POSTGRES_PASSWORD: "sourcify"
            SOURCIFY_POSTGRES_PORT: 5432
      - run:
          name: create lcov reports
          command: npx lerna run cov:lcov
      - codecov/upload
  monitor-e2e-sepolia:
    <<: *monitor-e2e-base
    environment:
      CHAIN_ID: "11155111"
      CHAIN_NAME: sepolia
  monitor-e2e-holesky:
    <<: *monitor-e2e-base
    environment:
      CHAIN_ID: "17000"
      CHAIN_NAME: holesky
  verification-e2e-sepolia:
    <<: *verification-e2e-base
    environment:
      CHAIN_ID: "11155111"
      CHAIN_NAME: sepolia
  verification-e2e-holesky:
    <<: *verification-e2e-base
    environment:
      CHAIN_ID: "17000"
      CHAIN_NAME: holesky
