POSTGRES_HOST=localhost
POSTGRES_DB=sourcify
POSTGRES_USER=root
POSTGRES_PASSWORD=mypassword
POSTGRES_PORT=5432
DOCKER_HOST_POSTGRES_PORT=5432
# If the sourcify instance requires authentication
BEARER_TOKEN=

# Variables for v0->v1 schema upgrade
POSTGRES_SCHEMA=public
BATCH_SIZE=1000