.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 4px 4px 0 $black-200;
  position: relative;
  border-radius: 0.5rem;

  &__header {
    height: min-content;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 4px 0 $black-100;
    border-top: 4px solid $accent-color;
    border-radius: 0.5rem 0.5rem 0 0;

    h3 {
      font-size: 24px;
    }
  }

  &__middle {
    padding: 40px 24px;
    flex: 1;

    .form {
      display: flex;
      flex-direction: column;
      height: 100%;

      &__file-upload-header {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        align-items: center;

        span {
          font-size: 0.9em;
        }

        button {
          background: transparent;
          border: none;
          cursor: pointer;
          color: $accent-color;
        }
      }

      .input-wrapper {
        display: flex;
        align-items: center;
      }

      input {
        width: 100%;
        padding: 1rem 40px;
        font-size: 18px;
        border: 1px solid $black-300;
        height: 3.5rem;
        border-radius: 0.5rem;
        //margin-bottom: 1rem;
      }

      &__submit-btn {
        width: 100%;
        padding: 1rem 40px;
        font-size: 18px;
        cursor: pointer;
        background: $accent-color;
        border: none;
        color: #fff;
        border-radius: 0.5rem;
        transition: background-color 0.5s;
        font-weight: bold;
        margin-top: 16px;

        &--disabled {
          background: rgba($accent-color, 0.6);
          cursor: not-allowed;
        }
      }
    }
  }
}

.validation {
  padding: 0.3rem 0;
  font-size: 0.8em;

  &--error {
    color: #f94144;
  }
}

.validation {
  padding: 0.3rem 0;
  font-size: 0.8em;

  &--error {
    color: #f94144;
  }
}

.choose-contract-title {
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 1.1em;
  text-align: center;
}

.choose-contract-item {
  margin-bottom: 4px;
  margin-left: 8px;
  font-style: italic;
  font-size: 0.9em;
  word-break: break-all;

  &__chosen {
    color: #2b50aa;
    font-weight: 700;
    font-size: 1em;
  }
}

.choose-contract-item-name {
  font-style: normal;
  font-weight: 700;
}

.choose-contract-item:hover {
  color: #2b50aa;
  cursor: pointer;
  text-decoration: underline;
}
