.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 64px;
  margin-bottom: 24px;

  @media only screen and (max-width: 768px) {
    padding: 16px 24px;
  }

  &__social-icons {
    display: flex;

    a {
      display: block;
      height: 2rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    svg {
      width: inherit;
      height: inherit;
      color: $black-700;
    }
  }
}
