.notification {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 1rem;
  width: 50%;
  max-width: 50%;
  transition: .5s;

  @media only screen and (max-width: 768px) {
    top: 7%;
    width: 80%;
    max-width: 80%;
  }

  &__content {
    display: flex;
    align-items: center;

    & > svg {
      flex-shrink: 0;
      margin-right: 1rem;
    }

    span {
      margin-left: auto;
      flex-shrink: 0;
      cursor: pointer;
    }

    a {
      font-weight: bold;
      color: inherit;
    }

    p {
      word-break: break-all;
    }
  }

  &--default {
    background: rgba(#2B50AA, 0.8);
    border-left: 8px solid #2B50AA;
  }

  &--success {
    background: #6B9B46;
    border-left: 8px solid #4D7133;
  }

  &--error {
    background: #F94144;
    border-left: 8px solid #C60609;
  }
}