.dropdown {
  margin-bottom: 1rem;
  position: relative;

  &__header {
    border: 1px solid $black-300;
    height: 3.5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    font-size: 18px;
  }

  &__list {
    border: 2px solid $black-100;
    border-radius: .5rem;
    list-style: none;
    padding: 0;
    position: absolute;
    background: #fff;
    width: 100%;
    transform: translateY(.5rem);
    box-shadow: 0 4px 4px 0 $black-100;
  }
}

.dropdown-header {
  &__indicator {
    svg {
      color: $black-500;
    }
  }
}

.dropdown-list {
  &__item {
    button {
      width: 100%;
      background: transparent;
      display: block;
      border: none;
      text-align: left;
      padding: 1rem 40px;
    }

    &:hover:not(&--selected) {
      background: rgba($accent-color, 0.2);
    }

    &--selected {
      background: $accent-color;

      span {
        color: #fff;
      }
    }

    &:first-child {
      border-radius: .4rem .4rem 0 0;
    }

    &:last-child {
      border-radius: 0 0 .4rem .4rem;
    }

  }
}