.file-upload {
  margin: .5rem 0;
  flex: 1;
  border: 2px dashed $black-300;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
  padding: 1rem;
  transition: background-color .5s;
  border-radius: .5rem;
  min-height: 30vh;
  max-height: 50vh;

  &:hover {
    background: rgba($accent-color, 0.1);
    border-color: $accent-color;
  }

  &__details {
    svg {
      color: rgba(#000, 0.5);
      margin-bottom: 1rem;
    }

    p:nth-of-type(1) {
      font-weight: bold;
    }
  }

  &__list {
    padding: 1rem;
    margin: auto;
    list-style: none;
  }

  &__item {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;

    &:last-child {
      padding-bottom: 0;
    }

    svg {
      min-height: 1.5rem;
      min-width: 1.5rem;
      padding-right: .5rem;
    }

    span {
      word-break: break-word;
    }

  }

  &__details {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    svg {
      color: $accent-color;
    }
  }
}