.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //TODO
  padding: 48px 64px;
  margin-bottom: 46px;

  @media only screen and (max-width: 768px) {
    padding: 16px 24px;

  }

  &__social-icons {
    //TODO
    display: flex;
    color: $black-500;

    a {
      display: block;
      height: 2rem;

      &:first-child {
        margin-right: 1rem;
      }
    }

    svg {
      width: inherit;
      height: inherit;
      color: $black-900;
    }
  }
}
