.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $black-500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 4rem;
  background: transparent;

  span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    border: .5rem solid $accent-color;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $accent-color transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}