.collapsable-list-container {
    border: solid 2px #80808063;
    border-radius: 4px;
    margin-bottom: 10px;

    button {
        width: 100%;
        cursor: pointer;
    }
}

.collapsable-list {
    max-height: 150px;
    overflow-y: scroll;
    padding-left: 0;
}

.chevron-holder {
    float: right;
}

.collapsable-list-item {
    padding: 10px;
    border: solid 0.5px rgb(191, 191, 191);
}

.missing {
    &-input {
        border: solid 0.5px rgb(249, 65, 68);
        background-color: white;
        border-radius: 3%;
    }
}