.collapsable-list-container {
    border: solid 2px #80808063;
    border-radius: 4px;
    margin-bottom: 10px;

    button {
        width: 100%;
        cursor: pointer;
    }
}

.collapsable-list {
    max-height: 150px;
    overflow-y: scroll;
}

.chevron-holder {
    float: right;
}

.collapsable-list-item {
    padding: 10px;
}