.contract {
    border: solid #2B50AA 2px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;

    p {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    input {
        padding: 5px;
        border-radius: 3px;
    }

    .contract-left {
        flex-basis: 15%;
    }

    .contract-right {
        flex-grow: 1;
        input {
            width: 100%;
        }
    }

    .contract-row {
        margin: .5rem;
        display: flex;
    }
}

.address {
    &-invalid {
        color: #F94144;
        font-size: small;
    }
}

.contract-status {
    &-perfect {
        color: green;
    }

    &-partial {
        color: #F98001;
    }

    &-error {
        color: #F94144;
    }
}
