$black: #000;
$accent-color: #2B50AA;
$black-100: rgba($black, 0.1);
$black-200: rgba($black, 0.2);
$black-300: rgba($black, 0.3);
$black-400: rgba($black, 0.4);
$black-500: rgba($black, 0.5);
$black-600: rgba($black, 0.6);
$black-700: rgba($black, 0.7);
$black-800: rgba($black, 0.8);
$black-900: rgba($black, 0.9);