* {
  box-sizing: border-box;
  margin: 0;
}


.grid {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
          "header"
          "main"
          "footer";
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 64px;

  &__social-icons {
    //TODO
    display: flex;

    a {
      display: block;
      height: 2rem;

      &:first-child {
        margin-right: 1rem;
      }
    }

    img {
      height: inherit;
    }
  }
}

.main {
  grid-area: main;
  width: 90%;
  margin: auto;
  height: 100%;
}

.footer {
  grid-area: footer;
}