name: CI
on:
  pull_request:
    branches: ["master"]
  push:
    tags: ["*"]
    branches: ["master"]

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: quay.io/subscan-explorer/sourcify
          tags: type=sha
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.QUAY_IO_USERNAME }}
          password: ${{  secrets.QUAY_IO_PASSWORD }}

      - name: Build and publish
        uses: docker/build-push-action@v3
        if: github.ref == 'refs/heads/master'
        with:
          context: .
          file: ./src/Dockerfile.server
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}